.form-input {
    margin-top: .5rem;
    margin-right: .5rem;
    margin-left: .5rem;
    border-radius: 6px;
}
#camera-btn {
    margin: auto;
    height: 90px;
    width: 90px;
    --border-radius: 50%;
    --background: rgb(85,85,85);
}
#camera-btn > ion-icon {
    font-size: 50px;
    color: rgb(150,160,150);
}
ion-row {
    margin-top: 1rem;
}
ion-select {
    max-width: 100%;
    padding-left: 0;
}
ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
  font-size: .95rem;
}
.overflow {
    overflow-x: auto;
    white-space: nowrap;
}

.ion-chip-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-height: 58px;
    width: 100%;
}
.ion-chip-group > ion-input {
    --padding-start: 8px;
    min-width: 120px;
}
.text-primary {
    --color: var(--ion-color-primary);
}
.text-danger {
    --color: crimson;
}
.highlight-invalid {
    --highlight-color-valid: crimson;
}
.padding-none {
    --padding-start: 0;
    --padding-end: 0;
}
#camera-btn.padding-none {
    --border-radius: 4px;
}