<ion-tabs>
  <ion-tab-bar style="contain: none;" class="tab" slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timeline">
      <ion-icon name="hourglass-outline"></ion-icon>
      <ion-label>Timeline</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="addTransaction()">
      <ion-icon style="color: white; --ionicon-stroke-width: 60px;" size="large" name="add-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="bills">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Bills</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>