.tab ion-tab-button:nth-child(3) {
    border-radius: 50%;
    --background: var(--ion-color-primary);
    --ripple-color: white;
    max-width: 60px;
    height: 60px;
    margin-bottom: 30px;
}
.tab {
    --background-focused: var(--ion-color-primary-contrast);
}