<ion-header>
  <ion-toolbar style="--background: rgb(24,24,24)">
    <div style="display: flex; align-items: center; justify-content: center;">
      <img id="landing-logo" [src]="'../../assets/logo.png'">
      <span id="landing-title" style="color: #37DF9C;" class="font-code">Money Maestro</span>  
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="landing-bg" [src]="'../../assets/bg-landing.png'"></ion-img>
  <ion-grid>
    <form [formGroup]="registerGroup">
      <ion-row style="margin-top: 1.5rem;">
        <ion-col size="6">
          <ion-input (keyup)="nameInput()" [ngStyle]="{'borderColor': nameError ? 'crimson' : 'white'}" formControlName="firstName" class="register-input" autocomplete="given-name" autofocus=true clearInput enterkeyhint="next" inputmode="text" required=true type="text" placeholder="First Name"></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input formControlName="lastName" class="register-input" autocomplete="family-name" clearInput enterkeyhint="next" inputmode="text" type="text"  placeholder="Last Name"></ion-input>
        </ion-col>
        <ion-col *ngIf="nameError" size="12">
          <ion-text color="danger">{{nameError}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 1.5rem;">
        <ion-col size="12">
          <ion-input (keyup)="emailInput()" [ngStyle]="{'borderColor': emailError ? 'crimson' : 'white'}" formControlName="email" class="register-input" clearInput autocomplete="email" enterkeyhint="next" inputmode="email" required=true type="email" placeholder="Email"></ion-input>
        </ion-col>
        <ion-col *ngIf="emailError" size="12">
          <ion-text color="danger">{{emailError}}</ion-text>
        </ion-col>
      </ion-row>  
      <ion-row style="margin-top: 1.5rem;">
        <ion-col size="12">
          <ion-input (keyup)="passwordInput()" [ngStyle]="{'borderColor': passwordError ? 'crimson' : 'white'}" formControlName="password" class="register-input" clearInput clearOnEdit=false autocomplete="new-password" enterkeyhint="next" required=true type="password" placeholder="Password"></ion-input>
        </ion-col>
      </ion-row>  
      <ion-row>
        <ion-col size="12">
          <ion-input (keyup)="passwordInput()" [ngStyle]="{'borderColor': passwordError ? 'crimson' : 'white'}" formControlName="password2" class="register-input" clearInput clearOnEdit=false autocomplete="new-password" enterkeyhint="done" required=true type="password"  placeholder="Confirm Password"></ion-input>
        </ion-col>
        <ion-col *ngIf="passwordError" size="12">
          <ion-text color="danger">{{passwordError}}</ion-text>
        </ion-col>
      </ion-row>  
      <ion-row style="margin-top: 1.2rem;">
        <ion-col size="12">
          <ion-datetime formControlName="dateOfBirth" class="register-input" placeholder="Date of Birth" [pickerOptions]="{cssClass: 'date-picker'}" displayFormat="DD MMMM YYYY" pickerFormat="DD/MMMM/YYYY"></ion-datetime>
        </ion-col>
      </ion-row>  
    </form>

    <ion-row style="margin-top: 2.5rem;">
      <ion-col size="12">
        <ion-button style="--background: #000000; --color: #ffffff" (click)="register()" fill="fill" color="black" strong=true class="btn font-code" expand="block">Register</ion-button>
      </ion-col>
      <ion-col>
        <ion-text>
          <p style="color: rgba(255,255,255,0.5)">By clicking on 'Register', you agree to the <u>terms and conditions</u> of the app</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
